*{
     padding: 0;
     margin: 0;
}
::-webkit-scrollbar {
     width: 4px !important;
     border-radius:25em;
     height:4px;
     /* width of the scrollbar */
}
::-webkit-scrollbar:hover {
     width: 10px !important;
     /* width of the scrollbar */
}

::-webkit-scrollbar-track {
      border-radius:25em;
     background-color: #d4d7d6 !important;
     /* color of the track */
}

::-webkit-scrollbar-thumb {
      border-radius:25em;
     background-color: #053a58 !important;
     /* color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
     background-color: #c3eaf3 !important;
     /* color of the thumb on hover */
}
.SideBar_container ,.Content_container{
     padding: 0 !important;
     margin: 0 !important;
}
.sidebar {
     width: 100% !important;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #010023!important;
     padding:0 !important;
     margin:0 !important;
}
.sidebar hr{
     color: #02007A;
     border-top:3px solid #02007A;
}
.sidebar a{
     border-radius:3em;
     width: 80%;
}
.sidebar a:hover{
   background-color:#06389A;
}
.siidebar a.active{
  background-color: #06389A;
}
.nav-tabs,.nav-tabs a{
 font-size:1.1em;
 background-color: #010023;
 color:#02007A!important;
}
.nav-tabs a{
 padding:1em 3em !important;
}
.book-a{
     border-top-left-radius: 0px!important;
}
.Exchange-icon{
     border:2px solid #010023;
     border-radius: 50em;
}
.book-btn{
     border-radius: 25em!important;
     background: #010023!important;
     color: aliceblue;
}
.history-h1,.Chat-h1{
     border-left:.2em solid #010023;
}
.Chat-h1-2{
     border-right: .2em solid #010023;
}
.fst-italic-p{
     color: rgb(105, 99, 99)!important;
}
.icon1{
     color:grey!important;
}
.Content_container{
     max-width:100% !important;
}
.rotate {
     transition: transform 0.1s ease-in-out;
}

.rotate:active {
     transform: rotate(180deg);
}
@media (max-width: 767px) {
  .headers{
    font-size:1em;
  }
  .nav-tabs,.nav-tabs a{
 font-size:1em;
 background-color: #010023;
 color:#02007A!important;
}
.nav-tabs a{
 padding:1em 2em !important;
}
.input-group>input,button,.Exchange-icon{
  height: 5vh;
}
.Select{
     font-size: 0.8rem;
     width:100vw;
}
option{
     font-size:0.3em;
}

.form-select:focus option{
     border:0;
}
.book-btn{
     padding: 0 0 15px 0 !important;
}
}
.Logo{
     width:7em;
}