form-controls {
     border-top: none!important;
     border-left: none;
     border-right: none;
     border-radius: 0;
     border-bottom: 1px solid #ced4da;
}
.form-control:focus {
     box-shadow: none;
     border-color: #ced4da;
}
.leftdiv1{
     background-image: url('./img/wave-haikei.svg');
     border-top-left-radius: 0px !important;
     border-bottom-left-radius:0px !important;
     min-height:100vh;
}
.leftdiv2 {
     background-image: url('./img/simal.svg');
     border-top-right-radius: 0px !important;
     border-bottom-right-radius: 0px !important;
}

@media only screen and (max-width: 600px) {
     .leftdiv {
          display: none !important;
     }
     .rightdiv{
          width:99% !important;
     }
     .leftdiv2{
          display:none !important;
     }
     .stationsDiv{
           width:100%!important;
          display: block!important; 
          /* margin: auto !important; */
     }
     .card-body{
          max-height: 40vh !important;
     }
     .seachDiv{
          max-height: 15vh;
     }
     .main2{
          background-image: url("./img/wave.svg");
               background-size: cover;
               padding: 0
     }

}
.btn1{
     background-color: #053a58 !important;
}
.btn1:hover{
     background-color: #053a58;
}
.lang{
     color:white;
}
.lang:hover{
     color:black !important;
}
.lang:active{
     color:black;
}
.main{
     background-image:url("./img/wave.svg");
     background-size: cover;
}
::-webkit-scrollbar {
     width: 4px;
     /* width of the scrollbar */
}

::-webkit-scrollbar-track {
     background-color: #f1f1f1;
     /* color of the track */
}

::-webkit-scrollbar-thumb {
     background-color: #053a58;
     /* color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
     background-color:#555;
     /* color of the thumb on hover */
}